.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

<<<<<<< HEAD

=======
#left {
  text-align: left;
}

#right {
  text-align: right;
}
>>>>>>> 78fe672961f376c61856648799f52e83f1bb1f2c
